@use "variables" as *;
@use "globals";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Spartan";
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../images/bg-pattern-top-desktop.svg"),
    url("../../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  padding: 127px 165px 72px 165px;
}

// main

// top section
.top-section {
  width: 80%;
  height: 250px;
  margin: auto;
  margin-bottom: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 40%;
  height: 100%;
  padding: 0 75px 15px 0;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $VeryDarkMagenta;
    line-height: 3rem;
    padding: 10px;
  }

  p {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5625rem;
    padding: 12px;
    color: $DarkGrayishMagenta;
  }
}

.ratings {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
//

// bottom section
.bottom-section {
  width: 80%;
  height: 286px;
  margin: auto;
}
//

// footer
footer {
  position: absolute;
  bottom: 0;
  right: 45%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// media queries
@media all and (max-width: 385px) {
  .container {
    height: 100%;
    width: 100vw;
    margin: auto 0;
    padding: 0;
    background-image: url("../../images/bg-pattern-top-mobile.svg"),
      url("../../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }

  // top section ----------- media queries

  .top-section {
    flex-direction: column;
    width: auto;
    height: 610px;
    padding: 5%;
    margin-bottom: 10px;

    .description {
      text-align: center;
      padding: 15px;
      width: 100%;
    }

    .ratings {
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .card {
      flex-direction: column;
      width: 100%;
      height: 20%;
      border-radius: 0.75rem;
      margin: 0.9375rem;

      ul {
        list-style: none;
        display: flex;

        li {
          margin: 0 5px;
        }
      }

      p {
        color: $VeryDarkMagenta;
        font-weight: 700;
        margin: 5px;
      }

      &-left {
        align-items: center;
        align-self: center;
        justify-content: center;
      }

      &-center {
        align-items: center;
        align-self: center;
        justify-content: center;
      }

      &-right {
        align-items: center;
        align-self: center;
        justify-content: center;
      }
    }
  }

  // bottom section --------- media queries

  .bottom-section {
    flex-direction: column;
    margin-bottom: 10px;

    .review-card {
      margin: 10px;
      height: 234px;
      width: 100%;
      border-radius: 0.75rem;
      background-color: $VeryDarkMagenta;
      color: $LightGrayishMagenta;

      .buyer {
        display: flex;
        padding: 0.9375rem;

        img {
          border-radius: 50%;
          height: 2.5rem;
          width: 2.5rem;
          margin: 1.0625rem 0.1875rem 1.0625rem 1.0625rem;
        }

        .buyer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .verified-buyer {
            font-size: 0.8125rem;
            font-weight: 400;
            color: $SoftPink;
          }
          .name {
            font-weight: 700;
            font-size: 0.8125rem;
          }
          p {
            line-height: 1.5rem;
          }
        }
      }

      &-left {
        align-items: center;
        align-self: center;
        justify-content: center;
      }

      &-center {
        align-items: center;
        align-self: center;
        justify-content: center;
      }

      &-right {
        align-items: center;
        align-self: center;
        justify-content: center;
      }
    }
  }
}
